.student-form__field--margin-top {
    margin-top: 10px;
}

.error-text {
    color: #f0506e;
}

.students-list__search--flex {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.students-list__search-message--flex {
    margin-right: auto;
}

.footer {
    height: 80px;
}

.footer-container--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}




